@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

// VARIABLES
$white: #fff;
$black: #000;

.Body_container{
    margin: 2rem;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;

    .Body {
        font-family: 'Quicksand', sans-serif;
        min-height: 50rem;
        width: 100rem;
        height: 50rem;
        margin: 0;
        //padding: .5rem;
        border-radius: 25px;
        border-color: gray;
        border-style: solid;
        position: relative;
        background-color: rgb(240, 238, 238);
        display: flex;

        .Daily-info {
            width: 27%;
            min-height: 100%;
            // display: flex;
            // flex-direction: column;
            // justify-content: space-around;
            border-radius: 25px 0px 0px 25px;
            background-color: $white;

            .City {
                font-size: 50px;
                margin-left: 3rem;
                margin-top: 3rem;
                margin-right: 3rem;
                // display: flex;
                // justify-content: center;
                // align-items: center;
            }

            .weather-img {
                margin-left: 3rem;
                margin-top: 1rem;
                
                img {
                    
                }
            }

            .Temp {
                font-size: 60px;
                margin-left: 3rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            .Date-time {
                margin-left: 3rem;
                margin-bottom: 2rem;
                
                span{
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            .spacer {
                width: 60%;
                height: 2px;
                background-color: rgb(240, 233, 233);
                margin-left: 3rem;
            }

            .Condition {
                font-size: 20px;
                margin-left: 3rem;
                margin-top: 1rem;
            }
        }

        .Info-container {
            max-width: 75%;
            height: 100%;
            margin-left: 5rem;


            .Info-title-top {
                font-size: 20px;
                font-weight: bold;
                margin-top: 3rem;
                margin-left: .5rem;
            }
            .Info-title-bottom {
                font-size: 20px;
                font-weight: bold;
                margin-top: 3rem;
                margin-left: .5rem;
            }

            .Weekly-info {
                width: 100%;
                height: 20%;
                margin-top: 2rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .Card-small {
                    font-weight: bold;
                    background-color: $white;
                    width: 6rem;
                    height: 8rem;
                    margin: .5rem;
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    .Day {
                        margin-top: .5rem;
                    }

                    .Card-title {
                        margin-top: .5rem;
                    }

                    .Icon {
                        img{
                            width: 70px;
                        }
                    }

                    .Temp {
                        margin-bottom: .5rem;
                    }

                }
            }

            .Other-info {
                width: 100%;
                margin-top: 2rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .Card-big {
                    background-color: $white;
                    flex: 1 0 calc((100% - 1rem) / 3 - 1rem); // shorthand for flex: flex-grow, flex-shrink, flex-basis(size); 33.33% is best practice
                    height: 10rem;
                    margin: .5rem;
                    border-radius: 15px;

                    .Card-title {
                        margin-top: .5rem;
                        margin-left: 1rem;
                        height: 25%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-size: 19px;
                    }

                    .Card-info {
                        margin-top: .5rem;
                        height: 60%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 35px;
                        font-weight: bold;

                        .Prop-body {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-around;

                            .Info-1 {
                                font-size: 25px;
                            }

                            .Info-2 {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }

    }

}
