.Body{
    width: auto;
    margin: 0;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-content: center;

    .Add_location {
        width: 6rem;
        height: 3rem;
        border-radius: 10%;
    }
}
