
.header {
    height: 10%;
    padding: 3rem;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 30pt;
    .nav{
        margin-right: 4rem;
        .search {
            border-color: black;
        }
    }
}