@import 'Header';
@import 'Body';
@import 'News';

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(99, 93, 93);
}

.App {
    margin: 0;
    padding: 0;
    height: 100%;
}